.nav-link{
  padding-left: 50px;
  padding-right: 40px;
}
.nav-item .active .nav-link{
  padding-left: 50px;
}
.page-header{
  padding-top: 150px;
}
#we-build{
  padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 75px;
    padding-left: 0px;
    color: #111111;
}
.row{
  display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
}
.col-12{

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
}
.container{
  padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
.mobile-padded{
  padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

h2 span{
  font-size: 120px;
line-height: 100px;
margin-bottom: 50px;
color: #ED9200;
  }

.col-lg-7 h2{
    font-size: 120px;
  line-height: 100px;
  color: purple;
  margin-bottom: 50px;
  }
   #we-build-subhead {
      font-size: 22px;
      line-height: 22px;
      text-transform: none;
      max-width: 100%;
      margin-bottom: 50px;
      color: #9100AD;
    }
    ge-late-2019 #we-build #building-blocks .building-block .stat {
    font-family: 'DINBold' !important;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 5px;
}
ge-late-2019 #we-build #building-blocks .building-block .stat-label {
    font-size: 17px;
  }

   #joe{
    font-size: 60px;
    color:purple;
  }
  #kidi{
    font-size: 60px;
    color: pink;
  }
  #nige{
    font-size: 60px;
    color: indigo;
  }
  #nuke{
    font-size: 60px;
    color: blue;
  }
.training-partner-logo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
